<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Chirp Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <const name="OAUTH_ACCESS_TOKEN" value=""/>
        <const name="OAUTH_ACCESS_TOKEN_SECRET" value=""/>
        <const name="CONSUMER_KEY" value=""/>
        <const name="CONSUMER_SECRET" value=""/>
    </php>
</phpunit>
